body {
 font-family: "Roboto", sans-serif;   
 font-size: 16px;    
 background-color: white;
 color: #434455;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header .logo-part{
  color: #2e2f42;
}

.page-footer{
  background-color: #2e2f42;
}

.logo-footer .logo-part{
 color: #f4f4fd;
}

.logo-header{
  margin-right: 72px;
}

.logo-footer{
  display: inline-block;
  margin-bottom: 16px ;
}
